################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/TEMP/EMPRESA_998/Contabilizacion Comprobante No.  de  - .xlsx
