################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/php/comprobantes/entidades/entidad_000/CE998
/TEMP
